<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Elias Raninen's homepage</title>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- style -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<main>
    <section class="col left">
        <div class="site-title">Elias Raninen</div>
        <div class="logo" style="background-image: url('{{ page.logo }}');"></div>
    </section>

    <aside class="col right">
        <div class="nav">
            <a href="/">Home</a> /
            <a href="/about/">About</a> /
            <a href="/publications/">Publications</a> /
            <a href="/music/">Music</a>
        </div>
        <div class="content-pane">
        {{ content }}
        </div>
    </aside>
</main>
    <footer> @ 2025 Elias </footer>

</body>
</html>